* {
	font-family: 'Exo 2', sans-serif;
  line-height: 1.5;
	color: #fff;
	margin: 0;
	padding: 0;
	transition: opacity .5s ease, position .5s ease, top .5s ease, right .5s ease, height .5s ease, width .5s ease;
	/* background: #314d5b; */
	background: transparent;
}

html {
  display: block;
}

body {
	margin: 10px;
}

h1 {
  cursor: default;
  text-align: center;
  padding: 0 0 1rem 0;
}

p {
	pointer-events: none;
	cursor: default;
	position: absolute;
	color: #eee;			/*	#4f5b65		*/
	display: inline-block;
	z-index: 9;
	margin: 0;
	padding: 0;
	font-size: 1.3rem;
	/* transform: translate(1rem, 10%); */
	transition: transform .3s ease,
							color  .3s ease;
}

.moveUp {
	transform: translate(-0.5rem, -1.5rem);
	font-size: 0.9rem;
	color: #aaa;
}

#login, input[name=login] {
	top: 1.5rem;
	left: 1.5rem;
}

#pass, input[name=pass] {
	top: 6.1rem;
	left: 1.5rem;
}

.hr {
	height: 1px;
	width: 90%;
	background: #030f1a;
	margin: 0 auto;
	transform: translate(0, -2rem);
	padding: 0;
}

form {
	padding-top: 1rem;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -30%);
	z-index: 10;
	width: 16rem;
	height: 65%;
  max-width: 650px;
  margin: auto;
  background: transparent;
}

.input-form{
	/* position: absolute;
	z-index: 10;*/
	width: 88%;
  display: block;
  margin: 0 auto 2rem auto;
  padding: .375rem .75rem;
  /* border: 1px solid #ced4da; */
	border: none;
	/* border-bottom: 1px solid #6c757d; */
  /* border-radius: 5px; */
  font-size: 1.2rem;
  color: #fff;
  background: inherit;
  transition: width .4s ease-in-out,
							border .4s ease-in-out;
}

input[type="submit"] {
	/* position: absolute;
	top: 17rem; */
	font-size: 1.4rem;
	width: 90%;
	display: block;
	margin: 1.3rem auto;
  padding: .375rem .75rem;
}

::placeholder {
  color: #fff;
  opacity: .2;
}

/* .input-form:hover, .input-form:hover {
  border-color: #fff;
	width: 80%;
} */

.input-form:focus {
  outline: 0;
}

.inputActive {
	width: 100%;
  background: red;
}


/* input:focus::placeholder {
	transform: translate(-1rem, -2rem);
} */

.card {
	position: absolute;
	max-height: 60vh;
	height: 22rem;
	/* width: 190px; */
	display: block;
	background: inherit;
	/* height: 40%; */
	/* width: 50%; */
	min-width: 16rem;
	padding: 3rem 2rem;
	top: 50%;
	right: 50%;
	transform: translate(50%, -40%);
}

.avotar {
	background: red;
	background-image: url(img/avo.png);
	background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
	position: absolute;
	height: 7rem;
	width: 7rem;
	top: -5rem;
	left: calc(50% - 3.5rem);
	border-radius: 50%;
}

.form {
	display: block;
	background: inherit;

}

.btn {
	border: none;
	border-radius: 50px;
  opacity: 0.9;
  background: red;
  width: 8rem;
  color: #fff;
  border-color: #fff;
  transition: opacity .15s ease-in-out,color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: #fff;
  color: #1e333d;
  opacity: 1;
}

.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(108,117,125,.5);
}
